fastapi
fastapi-cli
email_validator
websockets
pydantic
SQLAlchemy
pgvector
passlib
bcrypt
uvicorn
langchain
langchain-ollama
langchain_postgres
weaviate-client
langchain-weaviate
langgraph
python-dotenv
annotated-types
psycopg2
python-jose[cryptography]
python-multipart
docling
chroma
langchain-chroma
langchain-community
langchain-text-splitters